name: Cross-Platform Test

on:
  workflow_run:
    workflows: ["Cargo Build & Test"]
    branches: [main, "ci/**"]
    types: [completed]

jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            target: x86_64-pc-windows-msvc
          - os: windows-latest
            target: x86_64-pc-windows-gnu
          - os: windows-latest-arm
            target: aarch64-pc-windows-msvc
          - os: windows-latest-arm
            target: aarch64-pc-windows-gnullvm
          - os: ubuntu-latest-arm
            target: aarch64-unknown-linux-gnu
          - os: ubuntu-latest-arm
            target: aarch64-unknown-linux-musl
          - os: macos-latest
            target: aarch64-apple-darwin
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Prepare
        run: |
          rustup update stable
          rustup default stable
          cargo install cargo-all-features
      - name: All-features Test
        run: |
          cargo all-features test --target ${{ matrix.target }}
          cargo all-features test --target ${{ matrix.target }} --release
